<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.conversify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".ConversifyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.landing.LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.loginsignup.LoginSignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.createvenue.CreateVenueActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.conversify.ui.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.venues.filters.VenueFiltersActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.venues.details.VenueDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.images.ImagesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Images" />

        <activity
            android:name=".ui.videoplayer.VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Images" />

        <activity
            android:name=".ui.creategroup.create.CreateGroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.groups.topicgroups.TopicGroupsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.groups.groupposts.GroupPostsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.notifications.NotificationsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.creategroup.addparticipants.AddParticipantsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.conversify.ui.post.newpost.NewPostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.post.details.PostDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.venues.join.JoinVenueActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.venues.addparticipants.AddVenueParticipantsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.people.details.PeopleDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/app_google_api_key" />
    </application>
</manifest>